.homeContainer {
    background-image: url('../../assets/img/home/background-home-mobile.jpg');
    background-size: cover;
}

.cta {
    width: 100px;
    height: 100px;
    background-color: white;
}

@media (min-width: 768px) {
    .homeContainer {
        background-image: url('../../assets/img/home/background-home-tablet.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .cta {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 1024px) {
    .homeContainer {
        background-image: url('../../assets/img/home/background-home-desktop.jpg');
    }
    .cta {
        width: 200px;
        height: 200px;
    }
}
